h1{
    text-align: center;
    font-weight: 100;
    text-decoration: solid overline ;
    letter-spacing: .08rem;
     font-size: 5rem;
    font-family: monospace;
    text-transform: uppercase;
}

p{
    text-align: justify;
    line-height: 2;
    letter-spacing: .009rem;
    font-family: monospace;
}